<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>User Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="{{image}}" alt="" class="img">
    <form [formGroup]="registerform">
      <ion-item>
        <ion-label position="floating">First Name</ion-label>
        <ion-input type="text" formControlName="first_name" name="first_name"></ion-input>
      </ion-item>
      <br>
      <p class="error-message" *ngIf="registerform.controls['first_name'].hasError('required') && registerform.controls['first_name'].touched">
      Your First Name is required*
      </p>
        <ion-item>
          <ion-label position="floating">Last Name</ion-label>
          <ion-input type="text" formControlName="last_name" name="last_name"></ion-input>
        </ion-item>
        <br>
        <p class="error-message" *ngIf="registerform.controls['last_name'].hasError('required') && registerform.controls['last_name'].touched">
        Your Last Name is required*
        </p>
      <ion-item>
        <ion-label position="floating">Your Email</ion-label>
        <ion-input type="email" formControlName="email" name="email"></ion-input>
      </ion-item>
      <br>
      <p class="error-message" *ngIf="registerform.controls['email'].hasError('required') && registerform.controls['email'].touched">
      Your Email is required*
      </p>
      <p class="error-message" *ngIf="registerform.controls['email'].hasError('email') && registerform.controls['email'].touched">
       Please enter valid email*
        </p>
      <ion-item>
        <ion-label position="floating">Position</ion-label>
        <ion-input  type="text" formControlName="position" name="position"></ion-input>
      </ion-item>
      <br>
        <p class="error-message" *ngIf="registerform.controls['position'].hasError('required') && registerform.controls['position'].touched">
          position is required*
        </p>     
        <ion-button color="dark" expand="block" type="submit" [disabled]="!registerform.valid" (click)="updateuser()">Update</ion-button>
      </form>

</ion-content>
