ion-content{
    --background: #1c1b2d;
}
ion-toolbar{
    --background: #1c1b2d;
    color: #fff;
}
.hh{
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
.createcompany{
    height: 75px;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 9px;
    text-align: center;
    background-color: #fff;
    color: #1c1b2d;

}
.joincompany{
    height: 75px;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 9px;
    text-align: center;
    background-color: #fff;
    color: #1c1b2d;
   
}
.joincompany h3{
   
    font-size: 25px;
}
.createcompany h3{
   
    font-size: 25px;
}