<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>$buildingName</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="items" *ngFor="let location of alllocation">
    <ion-item routerLink="/location/{{location.id}}">
      <ion-icon name="eye-outline" slot="start" class="icon"></ion-icon>
      <ion-label>
        <p  class="icon">Location: {{location.name}}</p>
        <p  class="icon">Building: {{location.building.name}}</p>
      </ion-label>
      <ion-icon class="icon" name="trash" slot="end" (click)="delete(location.id)"></ion-icon>
      <ion-icon name="people" slot="end"  class="icon"></ion-icon>
      <ion-icon  name="chevron-forward" slot="end"  class="icon"></ion-icon>
    </ion-item>
  </div>

</ion-content>
 <ion-footer>
  <div class="circle" routerLink="/add/building/12/location"><ion-icon name="add-outline"></ion-icon></div>
</ion-footer>
