<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>$locationName</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="items" *ngFor="let place of allplaces">
    <ion-item href="/place/{{place.id}}">
      <ion-icon name="add-outline" slot="start" class="icon"></ion-icon>
      <ion-label>
        <p  class="icon">Location: {{place.name}}</p>
        <p  class="icon">Building: {{place.location.name}}</p>
      </ion-label>
      <ion-icon class="icon" name="trash" slot="end" (click)="delete(place.id)"></ion-icon>
      <ion-icon name="people" slot="end"  class="icon"></ion-icon>
      <ion-icon  name="chevron-forward" slot="end"  class="icon" (click)="reservation(place)"></ion-icon>
    </ion-item>
  </div>

</ion-content>
<!-- <ion-footer>
  <div class="circle" routerLink="/addbuilding"><ion-icon name="add-outline"></ion-icon></div>
</ion-footer> -->
